/* Google fonts:
font-family: 'Shrikhand', cursive;
font-family: 'PT Sans', sans-serif;
font-family: 'PT Sans Narrow', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Righteous', cursive;

font-family: 'Galada', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Yanone Kaffeesatz', sans-serif;
font-family: 'Questrial', sans-serif;
font-family: 'Poiret One', cursive;
*/


body {
	padding-top: 70px;
}

.jumbotron h1 {
	color: navy blue;
	font-family: 'Galada', cursive;
	font-size: 95px;
}

.jumbotron h3 {
	color: turquoise;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 35px;
	text-align: right;
}

